html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; 
}


#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background: black; */
}

.app-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #111;
  color: #fff;
}
